@using Shop.DataAccess.Models
@model IEnumerable<Order>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Orders List</h2>
        </div>
    </div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Order Date
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td width=50%>
                        @order.Date
                    </td>
                    <td width=50%>
                        @order.TotalPrice.ToString("c")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
