@using Shop.DataAccess.ViewModels
@model ProductVM

@{
    ViewData["Title"] = "Create";
}
<br />
<h1>Create Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ImageUrl" class="control-label"></label>
                <input type="file" id="uploadBox" name="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Category" class="control-label"></label>
                <select asp-for="Product.Category" asp-items="@Model.Categories" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
                <span asp-validation-for="Product.Category" class="text-danger"></span>
            </div>
            <br />
            <div class="w-75 btn-group" role="group">
                <div class="form-group">
                    <input type="submit" onclick="return ValidateInput()" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-danger mx-2">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    <script>
    function ValidateInput(){
        if(document.getElementById("uploadBox").value==""){
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Please upload an image'
            })
            return false;
        }
        return true;
    }
    </script>
}
