<br />
<center><h1>Welcome</h1></center>
<br />
<h3>You can use three accounts for testing</h3>
<br />
<h5>Admin account</h5>
<h5>Login : admin@test.com</h5>
<h5>User account with adress</h5>
<h5>Login : user@test.com</h5>
<h5>User account without adress</h5>
<h5>Login : user2@test.com</h5>
<h4>Every account has the same password: Test123.</h4>
